storage: none
framework: net6.0
source https://api.nuget.org/v3/index.json

nuget fsharp.data
nuget giraffe
nuget npgsql
nuget Serilog
nuget Serilog.aspnetcore
nuget sqlprovider
nuget RabbitMQ.Client
